body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.arrow-icon {
    font-size: 20px;
    margin-right: 10px;
}

.settings-icon {
    font-size: 20px;
}

.content {
    padding: 20px;
    height: calc(100vh - 50px);
}
.button{
    margin: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: rgb(80, 200, 80);
    color: white;
    font-size: 17px;
    width: 250px;
    cursor: pointer;
}
.button a{
    color: white;
    text-decoration: none;
}
.button:hover{
    opacity: .7;
}
.fix-body{
    height: 100vh;
    overflow: hidden;
}
.center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar .navbar-right img{
    height: 30px;
    margin: 10px;
}

.modal {
    display: none; /* Скрываем форму по умолчанию */
    position: fixed; /* Фиксированное позиционирование поверх всего контента */
    z-index: 1; /* Устанавливаем высокий z-index, чтобы была поверх всего */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Добавляем скролл, если форма не помещается */
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
}

.modal-content {
    width: 400px;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.modal input{
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid rgb(200, 200, 200);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(55, 168, 209);
}

.modal .error{
    color: rgb(200, 50, 50);
}






.context-help{
    position: relative;
    width: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    height: 15px;
}

.context-help .text{
    /*display: none;*/
    display: none;
    flex-wrap: wrap;
    max-width: 300px;
    min-width: 260px;
    border: 1px solid var(--dark-color);
    padding: 10px;
    border-radius: 5px;
    background: white;
    left: calc(100% - 22px);
    bottom: calc(100% + 10px);
    position: absolute;
    font-size: 14px;
    font-family: var(--main-text-font-family);
    color: var(--main-text-color);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.context-help .text::after {
    content: '';
    position: absolute;
    left: 9px;
    bottom: -5px;
    width: 7px;
    height: 7px;
    transform: rotate(45deg);
    border-bottom: 1px solid #b1b1b1;
    border-right: 1px solid #b1b1b1;
    background-color: white;
}
    

.context-help img{
    width: 20px;
    height: 20px;
}

.context-help:hover .text{
    display: block;
}

.task-description{
    display: flex;
    gap: 10px;
}