{{ define "task" }}
<body class="fix-body">
    <div class="navbar">
        <div class="navbar-left">
            <div style="display: flex; align-items: center;">
                <a href="/tasks" class="arrow-icon"><i class="fas fa-arrow-left"></i></a>

                <a href="/"><img src="" alt="logo" id="logo"></a>
            </div>
        </div>
        <div class="navbar-right">
            <img src="/static/images/question.png" />
            <img src="/static/images/gear.png" />
            <div class="profile">
                <div class="logo">
                    <img src="/static/images/profile.png" />
                </div>

                <div class="user-nav">
                    <div class="title">
                        <a></a>
                    </div>

                    <hr />

                    <div class="bottom">
                        <a onclick="logout()" ><img src="/static/images/menu_logout.png" />Выйти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="nav">
            <div onclick="openUserwordsModal()">
                <p>РЕДАКТИРОВАТЬ СПИСОК СЛОВ</p>
                <img  src="/static/images/pencil.png"/>
            </div>
        </div>
        <main class="center-content">
            <div class="word-wrapper">
                <div class="progressbar">
                    <div class="progressbar__value"></div>
                </div>
                
                <h1 id="word"></h1>
                <span id="rule"></span>
                <div id="options">
                    
                </div>
            </div>
        </main>
    </div>

    <div id="description" class="modal">
        <div class="modal-content">
            <h2>Пояснение</h2>
            <p class="description-content"></p>

            <div class="button-wrapper">
                <button class="button">Далее</button>
            </div>
        </div>
    </div>

    {{ template "userWordsModal" . }}

    <script src="/static/js/seo.js" ></script>
    <script src="/static/js/task.js" ></script>
</body>
{{ end }}